@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.login-container {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}

.login {
    border-color: black solid;
    border-style: solid;
    border-width: 3px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
    background-color: #B7B89F;
    position: relative;
    top: -10px;
}

input {
    border: none;
    height: 20px;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0px 0px 10px gold;
}

.kirim {
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    transition: 0.9s ease-in-out;
    font-weight: bold;
    background-color: transparent;
}

.kirim:hover {
    background-color: red;
    box-shadow: 0px 0px 10px red;
}

.dashboard {
    background-color: greenyellow;
    width: 500px;
    padding: 40px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    top: 80px;
    border-radius: 13px;
    box-shadow: 0px 2px 20px black;
}

.navbar-container, .barang {
    gap: 30px;
    text-decoration: none;
    color: white;
    position: relative;
    top: -9px;
}

.navbar {
    background-color: goldenrod;
    height: 60px;
    width: 110%;
    position: relative;
    left: -10px;
    display: flex;
    gap: 30px;
}

.barang {
    position: relative;
    top: 14px;
    right: -40px;
    transition: 0.9s ease-in-out;   
}

.barang:hover {
    text-decoration: underline red;
    text-shadow: 0px 0px 10px gainsboro;
}

.footer-container {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: goldenrod;
    height: 65px;
    margin: -5px;
    color: white;
    text-shadow: 0px 0px 10px black;
    right: -7px;
}

.pencet {
    position: relative;
    top: 14px;
    right: -390px;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.9s ease-in-out;
}

.pencet:hover {
    background-color: greenyellow;
    box-shadow: #333;
    text-decoration: underline red;
}

.dashboard-utama {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: white;
}

/* Untuk layar tablet (max-width 1024px) */
@media (max-width: 1024px) {
    .login-container {
        padding: 30px;
    }

    .login {
        width: 80%;
        padding: 20px;
        top: 0;
    }

    .dashboard {
        width: 90%;
        padding: 30px;
        top: 60px;
    }

    .navbar {
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    .barang {
        right: 0;
        top: 10px;
    }

    .footer-container {
        flex-direction: column;
        height: auto;
        top: 120px;
    }

    .pencet {
        right: 0;
        top: 10px;
    }
}

/* Untuk layar HP (max-width 768px) */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    .login {
        width: 95%;
        padding: 15px;
    }

    .dashboard {
        width: 95%;
        padding: 20px;
        top: 40px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .barang {
        right: 0;
        top: 5px;
    }

    .footer-container {
        flex-direction: column;
        height: auto;
        top: 100px;
    }

    .pencet {
        right: 0;
        top: 5px;
    }

    input, .kirim {
        width: 90%;
        height: 30px;
    }
}

.admin {
    color: black;
    transition: 0.9s ease-in-out;
}

.admin:hover {
    color: red;
    text-shadow: 0px 0px 10px black;
    background-color: #B7B89F;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    text-decoration: none;
}

.login-admin {
    background-color: #B7B89F;
    position: relative;
    top: 30px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
}

.pencet-admin {
    position: relative;
    border: none;
    background-color: #B7B89F;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    top: 14px;
    right: -170vh;
    transition: 0.9s ease-in-out;
    padding: 4px;
}

.pencet-admin:hover:focus {
    background-color: goldenrod;
    box-shadow: 0px 0px 10px black;
}

.balik {
    text-decoration: none;
    color: black;
    transition: 0.9s ease-in-out;
}

.balik:hover {
    color: yellow;
    text-shadow: 0px 0px 10px red;
}

.aktivitas-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    size: 30px;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
}

.aktivitas {
    position: relative;
    top: -80px;
    font-size: 40px;
}

.judul {
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;
    text-align: center;
}

.garis {
    height: 10px;
    width: 200px;
    background-color: gold;
    border-radius: 8px;
    position: relative;
    top: -20px;
}

.tombols {
    border: none;
    background-color: transparent;
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -400px;
    right: 410px;
    text-decoration: none;
    transition: 0.9s ease-in-out;
    width: 160px;
    border-radius: 8px;
    font-weight: bold;
}

.tombol2 {
    border: none;
    font-family: 'Poppins', sans-serif;
}

.tombols:hover {
    text-decoration: underline;
    background-color: aquamarine;

}

.dashboard-utama {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
    background-color: white;
    width: 340px;
    border-radius: 8px;
    color: black;
    height: 110px;
}

.swal-img {
    border-radius: 50%;
}

.penjelasan-container {
    color: black;
    display: grid;
    background-color: aliceblue;
    width: 520px;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    right: -190px;
    top: 76px;
    border-radius: 8px;
}

.penjelasan {
    text-align: center;
}

.gambar {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: flex;
    justify-content: right;
    position: relative;
    left: 30px;
    align-items: center;
    top: 80px;
    border-radius: 8px;
    position: fixed;
}

.pesan {
    margin: 0 auto;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: -175px;
    border-radius: 8px;
}

.pesans {
    width: 190px;
    font-family: 'Poppins', sans-serif;
    transition: 0.9s ease-in-out;
    border-radius: 8px;
}

.pesans:hover {
    background-color: yellow;
    box-shadow: 0px 0px 10px goldenrod;
}

.utama {
    position: relative;
    top: -340px;
    right: -30px;
    height: 30px;    
}

.utamas {
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    transition: 0.9s ease-in-out;
}

.utamas:hover {
    background-color: yellow;
}

.bayar {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    width: 350px;
    height: 350px;
    position: relative;
    top: 55px;
    box-shadow: 0px 0px 10px goldenrod;
    border-radius: 8px;
}

.kem {
    position: relative;
    top: -10px;
    border-radius: 8px;
}

.yar {
    position: relative;
    top: -10px;
    border-radius: 8px;
}